html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title!= settings.title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != settings.bundle.vendor.styles
    != settings.bundle.main.styles
  body
    .container
      h1
        span.glyphicon.glyphicon-home
        != settings.title
      p Hello, World
      != settings.bundle.vendor.scripts
      != settings.bundle.main.scripts
